@(title: String)(content: Html)

<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
     <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
   
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script type='text/javascript' src='/assets/js/CommonAPI.js'></script>
    <script type='text/javascript' src='/assets/js/UserStory.js'></script>
    <script type='text/javascript' src='/assets/js/Site.js'></script>
  
    <style>
    body {
        margin-top: 50px;
    }
    </style>
</head>
<body>
	<div class="nav nav-pills nav-stacked" style="position: fixed;">
        <li><div class="testCounter"></div></li>
		<li><select id="backends"></select></li>
        <li><a href="#" class="runAllTests" >Run all tests</a></li>
		<li><a href="#" class="menuRunTest" userStory="addNode" test="long">long</a></li>
		<li><a href="#" class="menuRunTest" userStory="addNode" test="short">short</a></li>
		<li><a href="#" class="menuRunTest" userStory="addNode" test="add1000Nodes">add1000Nodes</a></li>
        <li><a href="#" class="menuRunTest" userStory="CheckoutARevisionOfADocument" test="simple">simple</a></li>
	</div>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a id="titleLink" class="brand" href="/">@title</a>
            </div>
        </div>
    </div>
    <div class="container">
        @content
    </div>
</body>
</html>
